body { margin: 0; font-family: 'Cinzel', serif; background-color: black; color: white; text-align: center; }
.testo-iniziale { padding: 20vh 0; font-size: 1.5rem; }
.azione button { padding: 10px 20px; font-family: 'UnifrakturCook', cursive; font-size: 1.2rem; cursor: pointer; }